
body {
  background: url('../img/Background.jpg') bottom left no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%
  height: 100%
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #ff9999;
  text-align: center;
  z-index: 2;
}

nav a {
  display: inline-block;
  color: #fff;
  padding: 0.5em 1em;
  margin: 0;
  font-size: 1.5em;
  font-family: Roboto;
  text-decoration: none;
  border-bottom-width: 0.17em;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-color: #ff9999;
  -webkit-transition: background-color 0.75s, border-color 0.75s;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

nav a:hover {
  background-color: #ffadad;
  border-bottom-width: 0.17em;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-color: #fff;
}

nav a.active {
  background-color: #ffc0c0;
  border-bottom-width: 0.17em;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-color: #fff;
}

.content {
  position: absolute;
  top: 13%;
  right: 27%;
  left: 27%;
  margin-bottom: 3.2%;
  padding: 1em;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}

.sub-content {
  padding: 1em;
  margin: 0;
  border: 1px solid #ff9999;
}

.logo {
  height: 25px;
  width: 50px;
}
