nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #ff9999;
  text-align: center;
  z-index: 2;
}

nav a {
  display: inline-block;
  color: #fff;
  padding: 1em 2em;
  margin: 0;
  font-size: 1.5em;
  font-family: Roboto;
  text-decoration: none;
  border-bottom-width: 0.17em;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-color: #ff9999;
  -webkit-transition: background-color 0.75s, border-color 0.75s;
}

nav a:hover {
  background-color: #3498db;
  border-bottom-width: 0.17em;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-color: #3498db;
}

nav a.active {
  background-color: #ffc0c0;
  border-bottom-width: 0.17em;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-color: #ffd4d4;
}
