nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%
  margin: 0;
  padding: 0;
  background-color: #ff9999;
}

nav div {
  display: inline-block;
}

nav div div div {
  visibily: hidden;
}
